@charset "utf-8";

body {
	margin: 0;
	/*上下左右の間隔*/
	position: relative;
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: #e8e8e8;
}

#dic-select-wrapper {
	display: inline-flex;
	align-items: center;
	position: fixed;
	top: 100px;
	left: 0px;
}

#dic-select-wrapper::after {
	position: absolute;
	right: 15px;
	width: 10px;
	height: 7px;
	background-color: #535353;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	content: "";
	pointer-events: none;
}

#dic-select {
	appearance: none;
	top: 100px;
	min-width: 230px;
	height: 2.8em;
	padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
	border: 1px solid #000;
	border-radius: 25px;
	background-color: #b9b9b9;
	color: #000;
	font-size: 1em;
	cursor: pointer;
}

#user-dic {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.add-dic {
	margin-top: 20px;
}

.circle-button {
	border: 1px solid #000;
	border-radius: 50%;
	background-color: #b9b9b9;
}

#cam-button {
	position: fixed;
	bottom: 30px;
	left: 25vw;
	transform: translateX(-50%);
}

#voice-button {
	position: fixed;
	bottom: 30px;
	left: 50vw;
	transform: translateX(-50%);
}

#text-button {
	position: fixed;
	bottom: 30px;
	left: 75vw;
	transform: translateX(-50%);
}

@media (width <=600px) {
	#cam-button > a > .circle-button {
		height: 75px;
		width: 75px;
	}

	#voice-button > a > .circle-button {
		height: 100px;
		width: 100px;
	}

	#text-button > a > .circle-button {
		height: 75px;
		width: 75px;
	}
}

@media (600px < width) {
	#cam-button > a > .circle-button {
		height: 100px;
		width: 100px;
	}

	#voice-button > a > .circle-button {
		height: 100px;
		width: 100px;
	}

	#text-button > a > .circle-button {
		height: 100px;
		width: 100px;
	}
}
